<!DOCTYPE html>
<html>
  <head>
    <title>SVG Graph</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />

    <script type="text/x-template" id="polygraph-template">
      <g>
        <polygon :points="points"></polygon>
        <circle cx="100" cy="100" r="80"></circle>
        <axis-label
          v-for = "(stat, index) in stats"
          :stat ="stat"
          :index = "index"
          :key = "index"
          :total = "stats.length"
        ></axis-label>
      </g>
    </script>

    <scirpt type="text/x-template" id="axis-label-template">
      <text :x="point.x" :y="point.y">{{ stat.label }}</text>
    </scirpt>

    <body>
      <div id="demo">
        <svg width="200" height="200">
          <polygraph :stats="stats"></polygraph>
        </svg>

        <div v-for="stat in stats">
          <label>{{ stat.label }}</label>
          <input type="range" v-model="stat.value" min="0" max="100" />
          <span>{{ stat.value }}</span>
          <button @click="remove(stat)" class="remove"></button>
        </div>

        <form id="add">
          <input name="newlabel" v-model="newLabel" />
          <button @click="add">add a label</button>
        </form>
      </div>

   
    <script>
      // The raw data to observe
      var stats = [
        { label: "A", value: 100 },
        { label: "B", value: 100 },
        { label: "C", value: 100 },
        { label: "D", value: 100 },
        { label: "E", value: 100 },
        { label: "F", value: 100 }
      ];

      //svg组件
      Vue.component('polygraph', {
        props: {
          stats: Array
        },
        template: '#polygraph-template',
        computed: {
          points: function() {
            var total = this.stats.length;
            return this.stats
              .map(function(stat, i) {
                var point = valueToPoint(stat.value, i, total);
                return point.x + ',' + point.y;
              })
              .join(" ");
          }
        },
        components: {
          "axis-label": {
            props: {
              stat: Object,
              index: Number,
              total: Number
            },
            template: "#axis-label-template",
            computed: {
              point: function() {
                return valueToPoint(this.stat.value + 10, this.index, this.total);
              }
            }
          }

        }
      });

      //计算坐标
      function valueToPoint(value, index, total) {
        var x = 0;
        var y = -value * 0.8;
        var cx = 100;
        var cy = 100;
        var angle = (Math.PI * 2 / total) * index;
        var cos = Math.cos(angle);
        var sin = Math.sin(angle);
        var tx  = x * cos - y * sin + cx;
        var ty  = x * sin + y * cos + cy;

        return {
          x: tx,
          y: ty
        };
      }

      new Vue({
        el: "#demo",
        data: {
          newLabel: '',
          stats: stats
        },
        methods: {
          add: function() {
            e.preventDefault();
            if (!this.newLabel) return;
            this.stats.push({
              label: this.newLabel,
              value: 100
            });

            this.newLabel = '';
          },
          remove: function(stat) {
            if (this.stats.length > 3) {
              this.stats.splice(this.stats.indexOf(stat), 1);
            } else {
              alert("Can't delete more!");
            }
          }
        }
      })
     
    </script>
  </body>
</html>
